.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:100%;
    position: fixed;
    z-index: 3;
    bottom: 0;


  }
  
  .i:hover {
     zoom: 1.3
  }
 
 

